<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DictionaryMapper">

	<!--表名 -->
	<sql id="tableName">
		admin_dictionary
	</sql>

	
	<!-- 字段 -->
	<sql id="Field">
		  id,
		  name,
		  code,
		  level_code,
		  deleted,
		  parentid
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		  #{id},
		  #{name},
		  #{code},
		  #{level_code},
		  #{deleted},
		  #{parentid}
	</sql>
	<!--新增-->
	<insert id="save" parameterType="pd">
	INSERT INTO
		<include refid="tableName"></include>
	(
		<include refid="Field"></include>
	)
 	 VALUES
	(
		<include refid="FieldValue"></include>
	)
	</insert>
	<!--删除-->
	<update id="deleted" parameterType="pd">
		UPDATE
			<include refid="tableName"></include>
		SET 
			deleted = 'Y'
		WHERE  id = #{id}
	</update>
	<!--修改-->
	<update id="update" parameterType="pd">
		UPDATE
			<include refid="tableName"></include>
		SET
			name = 	#{name},
			code = 	#{code},
			level_code = #{level_code},
			parentid = #{parentid}
		WHERE
			id = #{id}
	</update>

	<!--列表显示-->
	<select id="find" resultType="pd" parameterType="pd">
		SELECT
			<include refid="Field"></include>
		FROM
			<include refid="tableName"></include>
		WHERE
			deleted = 'N'
		<if test="code != null and code !='' ">
			AND code = #{code}
		</if>
		<if test="parentid != '' and parentid != null">
			AND  parentid = #{parentid}
		</if>
		<if test="id != null and id != ''">
			AND id = #{id}
		</if>
	</select>

	<!--列表显示-->
	<select id="findOnlyCode" resultType="pd" parameterType="pd">
		SELECT
		<include refid="Field"></include>
		FROM
		<include refid="tableName"></include>
		WHERE
		deleted = 'N'
		<if test="code != null and code !='' ">
			AND code = #{code}
		</if>
		<if test="id != null and id != ''">
			AND id != #{id}
		</if>
	</select>

</mapper>